root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.rs]
indent_size = 4
max_line_length = 100

[*.toml]
indent_size = 4

[*.{dart,kt,kts,gradle,swift}]
indent_size = 2

[*.{yaml,yml,json,md}]
indent_size = 2

[Makefile]
indent_style = tab

[*.{sh,bash,zsh}]
indent_size = 4
